@font-face {
  font-family: "Allison Script Regular";
  src: local("Allison Script Regular"), url(~assets/fonts/allison-scriptregular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "It Is Definitely Possible";
  src: local("It Is Definitely Possible"), url(~assets/fonts/it-is-definitely-possible.regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(~assets/fonts/Montserrat-Light.ttf) format("truetype");
  font-display: swap;
}

::selection {
  text-shadow: none;
  color: var(--color-black, #fff);
  background-color: var(--color-pink);
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'It Is Definitely Possible', cursive;
}

h2 {
  font-size: 1.5rem;

  @media (min-width: 64em) {
    font-size: 2rem;
  }
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

a {
  color: var(--color-pink);
}