@font-face {
  font-family: "Allison Script Regular";
  src: local("Allison Script Regular"), url(~assets/fonts/allison-scriptregular.ttf) format("truetype");
  font-display: swap;
}

::selection {
  text-shadow: none;
  color: #fff;
  background-color: dodgerblue;
}

html {
  font-family: serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}