@import "./colours";

::selection {
  background-color: $pink;
  color: $grey-50;
  text-shadow: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

body {
  background: url("/img/marble-background.png") no-repeat center center fixed $grey-200;
  color: $grey-900;
  font-family: "Playfair Display", Georgia, Palatino, serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 1920px), (min-height: 1080px) {
    background-size: cover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Slab", Georgia, Palatino, serif;
}
