::selection {
  background-color: var(--color-pink);
  color: var(--color-grey-50);
  text-shadow: none;
}

html {
  box-sizing: border-box;
  font-family: serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

body {
  background: url("/img/marble-background.png") no-repeat center center fixed var(--color-grey-200);
  color: var(--color-grey-900);
  font-family: "Playfair Display", Georgia, Palatino, serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 120em), (min-height: 67.5em) {
    background-size: cover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Slab", Georgia, Palatino, serif;
}
